@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div>
        <h1>Password Checker</h1>
        <p>
            Passwords included in password leaks should be considered insecure, as they often turn up in dictionaries that bad guys use to 
            crack passwords.<br />
            Use the textbox below to see if a password has turned up in any leaks.  We use Troy Hunt's 
            <a href="https://haveibeenpwned.com/" target="_blank">Have I Been Pwned</a> data source.
        </p>
    <form method="post">
        Test Password: <input type="password" name="passwd" autocomplete="off" autofocus/>
        <input type="submit"/>
    </form>

        @if (ViewBag.content != null)
        {
            <h2>There are @ViewBag.content indentical passwords found in leaks</h2>
            <p> <em>If there are any identical passwords found, please consider using another password!</em> </p>
        }

        @if (ViewBag.error != null)
        {
            <h2>@ViewBag.error</h2>
            
        }
        <p class="border">
            Details:<br />
            When the submit button is clicked, we SHA1 hash the password entered.  Then the first 5 characters of the hash are submitted to the 
            Have I Been Pwned API for comparison.  A list of hashes with the same first 5 characters is sent back to our app.  We then compare to see if any completely match. 
            In this way, the cleartext password is never sent to any external services.  Have I Been Pwned provides the number of times that password
            shows up in leaks.  In general, the more a password shows up in leaks, the worse idea it is to use it for your accounts.
        </p>
    </div>
</body>
</html>
