@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <form method="post">
        Test Password: <input type="password" name="passwd" autocomplete="off"/>
        <input type="submit"/>
    </form>

        @if (ViewBag.content != null)
        {
            <h2>There are @ViewBag.content indentical passwords found in leaks</h2>
            <p> <em>If there are any identical passwords found, please consider using another password!</em> </p>
        }

        @if (ViewBag.error != null)
        {
            <h2>@ViewBag.error</h2>
            
        }

    </div>
</body>
</html>
